body {
  background-color:#ffe5e5;
  color: #0f141e;

  font-size: 12px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: grey;
}

.avatar {
  width: 356px;
  border-radius: 350px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.image {
  width: 300px;
  height: 300px;
  border-left: 50px;
  float:left; 
  margin: 7px 7px 7px 0;
}

  .leftimg {
   float:left; 
   margin: 7px 7px 7px 0; 
  }
  .rightimg  {
   float: right; 
   margin: 7px 0 7px 7px; 
  }

.info {
  display:flex;
  margin-bottom: 20px;
}


@media (max-width: 700px) {
  .info {
    text-align: center;
    display:block;
  }
}

.info-text {
  margin-left: 40px;
}

.info-text h4 {
  margin-bottom: 10px;
}

.info p {
  color: #131822;
  margin: 0;
  font-style:italic;
  font-weight:bolder;
  text-decoration:none;

}

.container {
  max-width: 850px;
  margin: auto;
  padding-top: 45px;
}

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffbdbd;
}

.bg-blue {
  background:rgb(146, 199, 248)
}

.card { 
  margin-left: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}
.list li {
    margin-bottom: 10px;
  }

.link-list {
  list-style:none;
  padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(41, 29, 29);
}

.card h3 { margin-bottom: 10px;}

.myimage-div
{
    display: none;
}
a.myimage-ssilka:hover+div
{
    display: block;
}
.del { display: none; }
.del:not(:checked) + label + * { 
    display: none; 
}
